{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{{ url_for('main.create_song') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter a song</legend>

        {{ form.title.label }}
        {{ form.title }}
        <ul>
        {% for error in form.title.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
        
        {{ form.publish_date.label }}
        {{ form.publish_date(placeholder="YYYY-mm-dd") }}
        <ul>
        {% for error in form.publish_date.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
        
        {{ form.artist.label }}
        {{ form.artist }}
        <ul>
        {% for error in form.artist.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
            
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}